<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/contact.css">
    <title>Contact</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <div class="contact_info">
                <div class="info">
                    <div class="information">
                        
                    </div>
                </div>
                <div class="social_media">
                    
                </div>
            </div>
            <div class="contact_form">
                <form action="index.html" autocomplete="off">
                    <h3 class="title">Contact us</h3>
                    <div class="input-container">
                      <input type="text" name="name" class="input" />
                      <label for="">Username</label>
                      <span>Username</span>
                    </div>
                    <div class="input-container">
                      <input type="email" name="email" class="input" />
                      <label for="">Email</label>
                      <span>Email</span>
                    </div>
                    <div class="input-container">
                      <input type="tel" name="phone" class="input" />
                      <label for="">Phone</label>
                      <span>Phone</span>
                    </div>
                    <div class="input-container textarea">
                      <textarea name="message" class="input"></textarea>
                      <label for="">Message</label>
                      <span>Message</span>
                    </div>
                    <input type="submit" value="Send" class="btn" />
                  </form>
            </div>
        </div>   
    </div>
</body>
</html>